* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
/* html,
body {
  height: 100%;
  width: 100%;
} */
#main {
  /* position: relative;  
  */
  overflow: hidden;
  background-color: #1137ca;
}
@font-face {
  font-family: a;
  src: url(./jost-variable.ttf);
}
@font-face {
  font-family: b;
  src: url(./KFOlCnqEu92Fr1MmEU9fBBc4-1.ttf);
}
@font-face {
  font-family: c;
  src: url(./KFOmCnqEu92Fr1Mu4mxK-2.ttf);
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  border: none;
  border-bottom: 2px solid rgb(128, 126, 126);
  background: transparent;
  outline: none;
  width: 100%;
  text-transform: capitalize;
  padding: 1rem 0.4rem;
}


nav {
  /* background-color: #333; */
  padding: 1rem;
  display: flex;
  z-index: 999999;
  box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);

  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo {
  color: white;
  font-size: 1.5rem;
}

.menu-icon {
  color: white;
  font-size: 2rem;
  cursor: pointer;
  display: none;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
}

.nav-links li {
  position: relative;
}

.nav-links li a {
  color: white;
  padding: 0.75rem 1rem;
  text-decoration: none;
  display: block;
}

.nav-links li a:hover {
  background-color:#fff;
  color: #0a3cce;
border-radius: 25px;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #0a3cce;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 200px;
}

.dropdown-menu li a {
  padding: 0.75rem 1rem;
  display: block;
  color: #333;
}

.dropdown-menu li a:hover {
  background-color: #0a3cce;
  color: #fff;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

/* Responsive design */
@media screen and (max-width: 768px) {
  .nav-links {
      display: none;
      flex-direction: column;
      width: 100%;
      background-color: #333;
      padding:0;
  }

  .nav-links li {
      width: 100%;
      text-align: center;
  }

  .menu-icon {
      display: block;
  }

  .nav-links.active {
      display: flex;
      position: absolute;
      padding: 15px 0;
      top: 110px;
      right:0;
      width: 25%;
      transition:0.5s all ease-in-out;
  }
}



@media screen and (max-width: 460px) {

  .nav-links.active {
      
      width: 50%;
      transition:0.5s all ease-in-out;
  }
}


.nav-links li a.active {
  color: #ff0000; /* Change the color of the active link */
  font-weight: bold;
  background-color: red;
}

#page1 {
  height: 100vh;
  width: 100vw;
  position: relative;
}
#page1 > video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
/*  */

.bottom-page1 {
  position: absolute;
  bottom: 5%;
  height: 35vh;
  width: 50vw;
  left: 10%;
}
.bottom-page1 > h1 {
  font-family: a;
  font-size: 3vw;
  font-weight: 100;
  line-height: 1;
  color: #fff;
}
.bottom-page1-inner {
  position: absolute;
  bottom: 0%;
  height: 35%;
  width: 100%;
}
.bottom-page1-inner {
  display: flex;
  flex-direction: column;
gap: 14px;
  justify-content: center;
  font-family: a;
}
.bottom-page1-inner > button {
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  background-color: #fff;
  color: #0b48ed;
  font-size: 12px;
  text-align: center;
  text-wrap: nowrap;
  width: 25%;
  font-family: b;
}






.bottom-page1-inner > h4 {
  font-size: 1.3vw;
  font-weight: 100;
  color: #fff;
}


@media screen and (max-width:768px) {

  .bottom-page1 > h1{
 
    font-size: 24px;
  }.bottom-page1-inner > h4{
 
    font-size: 16px;
  }

  .bottom-page1-inner > button {
    width: 50%;
  }
}@media screen and (max-width:460px) {

  .bottom-page1 {
    bottom: 13%;
  }

  .bottom-page1-inner > h4{
 
    font-size: 16px;
  }

  .bottom-page1-inner > button {
   font-size: 12px;
   width: 100%;
  }


}
#page2 {
  display: flex;
  align-items: start;
  font-family: a;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  position: relative;
  padding: 0vw 8vw;
  color: #fff;
  background-color: #0a3cce;
}
#page2 > h2 {
  margin-bottom: 3vw;
  font-weight: 100;
}
#page2 > h1 {
  font-weight: 100;
  line-height: 1.3;
  width: 90%;
  font-size: 3vw;
  color: #dadada69;
}

#page3 {
  position: relative;
  height: 100vh;
  width: 100vw;
}
#page3 > canvas {
  max-height: 100vh;
  max-width: 100vw;
  position: relative;
}
#page4 {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #1137ca;
  font-family: a;
}
#page4 > h3 {
  margin-left: 15vw;
  margin-bottom: 2vw;
  font-weight: 100;
  color: #fff;
}
#page4 > h1 {
  margin-left: 15vw;
  width: 70%;
  font-size: 3vw;
  font-weight: 100;
  color: #ffffff81;
}
/* #page5 {
  position: relative;
  height: 100vh;
  width: 100vw;
} */
#page5 > canvas {
  position: relative;
  /* max-width: 100vw;
  max-height: 100vh; */
}
#page6 {
  display: flex;
  align-items: start;
  justify-content: center;
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #0a3cce;
  flex-direction: column;
  font-family: a;
}
#page6 > h3 {
  margin-left: 15vw;
  font-weight: 100;
  color: #fff;
  margin-bottom: 2vw;
}
#page6 > h1 {
  margin-left: 15vw;
  font-size: 3vw;
  width: 70%;
  font-weight: 100;
  color: #ffffff53;
}
#page7 {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #0a3cce;
}
#page7 > canvas {
  position: relative;
  max-width: 100vw;
  max-height: 100vh;
}
.page7-cir {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  height: 30vw;
  width: 30vw;
  border-radius: 50%;
  border: 1px solid #fff;
}
.page7-cir-inner {
  height: 70%;
  width: 70%;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #fff;
}

#page8 {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #0a3cce;
}

.flip-container {
  perspective: 1000px;
}

.flipper {
  position: relative;
  width: 300px;
  height: 300px;
  transform-style: preserve-3d;
  animation: flip 4s infinite linear;
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.front {
  z-index: 2;
}

.back {
  transform: rotateY(180deg);
}

@keyframes flip {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

#page8 > video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.page8-bottom {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-family: a;
}
.page8-bottom > h1 {
  color: #fff;
  margin-bottom: 2vw;
  font-size: 5vw;
  font-weight: 100;
}
.page8-bottom > button {
  padding: 20px 30px;
  border-radius: 50px;
  border: none;
  background-color: #fff;
  color: #0a3cce;
}
#page9 {
  display: flex;
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #0a3cce;
}
.left9 {
  height: 100%;
  width: 40%;
  position: relative;
  font-family: a;
}
.left9 > h1 {
  position: absolute;
  top: 40%;
  right: 5%;
  transform: translateY(-50%);
  font-size: 5vw;
  font-weight: 100;
  color: #fff;
  line-height: 1;
}
.right9 {
  height: 100%;
  width: 60%;
  position: relative;
}
.right9-center {
  height: 50%;
  width: 85%;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(https://pacificsecurityservices.in/wp-content/uploads/2018/06/security-guard-houston1.jpg);
  background-size: cover;
  left: 5%;
}
#page10 {
  position: relative;
  height: 120vh;
  width: 100vw;
  background-color: #0a3cce;
}
.right10 {
  height: 100%;
  width: 60%;
  position: relative;
  left: 40%;
}
.right10-inner {
  display: flex;
  align-items: start;
  flex-direction: column;
  height: 33.3%;
  width: 100%;
  font-family: a;
  color: #fff;
}
.right10-inner > h1 {
  font-size: 3vw;
}
.right10-inner > p {
  margin-top: 2vw;
  font-size: 1.3vw;
  width: 80%;
}
@media screen and (max-width:1024px) {
  .right10-inner > p {
   
    font-size: 14px;
  
  }  
}
@media screen and (max-width:460px) {
  .right10-inner > p {
   
    font-size: 12px;
  
  }  

  #page9
  {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .left9 > h1{
    top:100%;
    bottom:2%;
    right: 7%;
    font-size: 12vw;
  }

  .left9 > #german-left
  {
    top:100%;
    bottom:2%;
    right: 0% !important;
    font-size: 9vw !important;
  }

  .right9
  {
    width: 100%;
  }

  .right10-inner > h1 {
    font-size: 4vw;
  }
}@media screen and (max-width:375px) {
  .right10-inner > p { 
    font-size: 3vw;
  }  
}

#page11 {
  position: relative;
  height: 110vh;
  width: 100vw;
  background-color: #fff;
  font-family: a;
}
#page11 > h1 {
  position: absolute;
  top: 5%;
  left: 10%;
  font-size: 3vw;
  color: #000;
  font-weight: 100;
}
.page11-inner {
  display: flex;
  top: 18%;
  position: relative;
  margin-bottom: 2vw;
  height: 24%;
  width: 100%;
}
.left11 {
  position: relative;
  height: 100%;
  width: 40%;
  left: 5%;
  border-radius: 10px;
  overflow: hidden;
}
.left11 > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.right11 {
  /* padding-top: 5vw; */
  color: #000;
  left: 50%;
  position: absolute;
  height: 100%;
  /* width: 50%; */
}
.right11 > h4 {
  font-weight: 100;
}
 .right11 > h1 {
  font-size: 2vw;
}
.right11 >  p {
  font-size: 18px;
  width: auto;
}


@media screen and (max-width:768px) {
  .right11 >  p {
    font-size: 12px;
    width: 300px;
  }
}
@media screen and (max-width:460px) {
  .right11 >  p {
    font-size: 12px;
    width: 180px;
  }

  .right11 > h1 {
    font-size: 5vw;
  }

  #page11 > h1 
  {
    font-size: 12vw;
  }
}@media screen and (max-width:375px) {
  .right11 >  p {
    font-size: 10px;
    width: 150px;

  }
}
#page12 {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #02268e;
}
.page12-inner {
  position: absolute;
  top: 20%;
  right: 10%;
  color: #fff;
  font-family: a;
}
.page12-inner > h1 {
  font-size: 5vw;
  font-weight: 100;
}
.page12-inner > p {
  font-size: 1.3vw;
}

@media screen and (max-width:768px) {
  .page12-inner > p {
    font-size: 16px;
    width:320px
  }  
}@media screen and (max-width:325px) {
  .page12-inner > p {
    font-size: 14px;
    width:260px
  }  
}
#page13 {
  position: relative;
  height: 50vh;
  width: 100vw;
  background-color: #000;
  color: #fff;
  font-family: a;
  padding: 7vw 10vw;
}
#page13 > h1 {
  font-size: 5vw;
  line-height: 1;
  font-weight: 100;
}
#page13 > button {
  padding: 18px 30px;
  border: none;
  background-color: #0a3cce;
  color: #fff;
  border-radius: 50px;
  margin-top: 2vw;
}

#page14 {
  position: relative;
  height: 60vh;
  width: 100vw;
  background-color: #000;
}
.page14-inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0vw 5vw;
  font-family: a;
  height: 33.3%;
  width: 100%;
  color: #fff;
  border-top: 0.5px solid #ffffff5c;
  border-bottom: 0.5px solid #ffffff48;
}
.page14-inner > i {
  font-weight: 100;
  font-size: 2.4vw;
  position: relative;
  z-index: 9999;
}
.page14-inner > h1 {
  font-size: 3vw;
  font-weight: 100;
  position: relative;
  z-index: 9999;
}

.center14 {
  height: 0%;
  width: 100%;
  background-color: #0a3cce;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all ease 0.5s;
}

.page14-inner:hover .center14 {
  height: 100%;
}

.sec-title {
  position: relative;
  z-index: 1;
  margin-bottom: 60px;
}

.sec-title .title {
  position: relative;
  display: block;
  font-size: 18px;
  line-height: 24px;
  color: #0a3cce;
  font-weight: 500;
  margin-bottom: 15px;
}

.sec-title h2 {
  position: relative;
  display: block;
  font-size: 40px;
  line-height: 1.28em;
  color: #222222;
  font-weight: 600;
  padding-bottom: 18px;
}
@media screen and (max-width:768px) {
  .sec-title h2{
    font-size: 30px;
  }
}

.sec-title h2:before {
  position: absolute;
  content: "";
  left: 0px;
  bottom: 0px;
  width: 50px;
  height: 3px;
  background-color: #d1d2d6;
}

.sec-title .text {
  position: relative;
  font-size: 16px;
  line-height: 26px;
  color: #848484;
  font-weight: 400;
  margin-top: 35px;
}

.sec-title.light h2 {
  color: #ffffff;
}

.sec-title.text-center h2:before {
  left: 50%;
  margin-left: -25px;
}

.list-style-one {
  position: relative;
}

.list-style-one li {
  position: relative;
  font-size: 16px;
  line-height: 26px;
  color: #222222;
  font-weight: 400;
  padding-left: 35px;
  margin-bottom: 12px;
}

.list-style-one li:before {
  content: "\f058";
  position: absolute;
  left: 0;
  top: 0px;
  display: block;
  font-size: 18px;
  padding: 0px;
  color: #ff2222;
  font-weight: 600;
  -moz-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1.6;
  font-family: "Font Awesome 5 Free";
}

.list-style-one li a:hover {
  color: #44bce2;
}

.btn-style-one {
  position: relative;
  display: inline-block;
  font-size: 17px;
  line-height: 30px;
  color: #ffffff;
  padding: 10px 30px;
  font-weight: 600;
  overflow: hidden;
  letter-spacing: 0.02em;
  background-color: #0a3cce;
}

.btn-style-one:hover {
  background-color: #0794c9;
  color: #ffffff;
}
.about-section {
  position: relative;
  padding: 120px 0 70px;
}

.about-section .sec-title {
  margin-bottom: 45px;
}

.about-section .content-column {
  position: relative;
  margin-bottom: 50px;
}

.about-section .content-column .inner-column {
  position: relative;
  padding-left: 30px;
}

.about-section .text {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 26px;
  color: #848484;
  font-weight: 400;
}

.about-section .list-style-one {
  margin-bottom: 45px;
}

.about-section .btn-box {
  position: relative;
}

.about-section .btn-box a {
  padding: 15px 50px;
}

.about-section .image-column {
  position: relative;
}

.about-section .image-column .text-layer {
  position: absolute;
  right: -110px;
  top: 50%;
  font-size: 325px;
  line-height: 1em;
  color: #ffffff;
  margin-top: -175px;
  font-weight: 500;
}

.about-section .image-column .inner-column {
  position: relative;
  padding-left: 80px;
  padding-bottom: 0px;
}
.about-section .image-column .inner-column .author-desc {
  position: absolute;
  bottom: 16px;
  z-index: 1;
  background: orange;
  padding: 10px 15px;
  left: 96px;
  width: calc(100% - 152px);
  border-radius: 50px;
}
.about-section .image-column .inner-column .author-desc h2 {
  font-size: 21px;
  letter-spacing: 1px;
  text-align: center;
  color: #fff;
  margin: 0;
}
.about-section .image-column .inner-column .author-desc span {
  font-size: 16px;
  letter-spacing: 6px;
  text-align: center;
  color: #fff;
  display: block;
  font-weight: 400;
}
.about-section .image-column .inner-column:before {
  content: "";
  position: absolute;
  width: calc(50% + 80px);
  height: calc(100% + 160px);
  top: -80px;
  left: -3px;
  background: transparent;
  z-index: 0;
  border: 44px solid #0a3cce;
}
@media screen and (max-width:768px) {
  .about-section .image-column .inner-column:before{
    
    border: 30px solid #0a3cce;
  }
}

.about-section .image-column .image-1 {
  position: relative;
}
.about-section .image-column .image-2 {
  position: absolute;
  left: 0;
  bottom: 0;
}

.about-section .image-column .image-2 img,
.about-section .image-column .image-1 img {
  box-shadow: 0 30px 50px rgba(8, 13, 62, 0.15);
  border-radius: 46px;
}

.about-section .image-column .video-link {
  position: absolute;
  left: 70px;
  top: 170px;
}

.about-section .image-column .video-link .link {
  position: relative;
  display: block;
  font-size: 22px;
  color: #191e34;
  font-weight: 400;
  text-align: center;
  height: 100px;
  width: 100px;
  line-height: 100px;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0 30px 50px rgba(8, 13, 62, 0.15);
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.about-section .image-column .video-link .link:hover {
  background-color: #191e34;
  color: #fff;
}

.aside {
  background-image: linear-gradient(
    to left bottom,
    #051937,
    #002350,
    #002d69,
    #003684,
    #01409f
  );
  animation: animateClr 5s infinite cubic-bezier(0.62, 0.28, 0.23, 0.99);
  background-size: 400%;
}

@keyframes animateClr {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

ion-icon:not([name="logo-codepen"]) {
  border: 1px solid currentColor;
  border-radius: 20%;
  padding: 1rem;
}
.bg-footer {
  background-color: #33383c;
  padding: 50px 0 30px;
}
.footer-heading {
  letter-spacing: 2px;
}

.footer-link a {
  color: #acacac;
  line-height: 40px;
  font-size: 14px;
  transition: all 0.5s;
}

.footer-link a:hover {
  color: #1bbc9b;
}

.contact-info {
  color: #acacac;
  font-size: 14px;
}

.footer-social-icon {
  font-size: 15px;
  height: 34px;
  width: 34px;
  line-height: 34px;
  border-radius: 3px;
  text-align: center;
  display: inline-block;
}

.facebook {
  background-color: #4e71a8;
  color: #ffffff;
}

.twitter {
  background-color: #55acee;
  color: #ffffff;
}

.google {
  background-color: #d6492f;
  color: #ffffff;
}

.apple {
  background-color: #424041;
  color: #ffffff;
}

.footer-alt {
  color: #acacac;
}

.footer-heading {
  position: relative;
  padding-bottom: 12px;
}

.footer-heading:after {
  content: '';
  width: 25px;
  border-bottom: 1px solid #FFF;
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  border-bottom: 1px solid #1bbc9b;
}
